.login_page_wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: #fafafa;
}

.form_wrapper
{
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 20px;
    padding: 20px;
    border: solid 1px #e8eaf6;
    border-radius: 10px;
}
.title
{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding: 5px;
    color: #3f51b5;
}